
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<script>
    function getUrlParameter(name) {
    name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
    var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
    var results = regex.exec(location.search);
    return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };

    var idtoken = getUrlParameter('id_token');
    window.opener.callbackDoThings(idtoken);    
</script>

